html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #876FED;
    padding: 20px 1%;

    /* Fixed Header code*/
    position: fixed;
    width: 98%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #A796F0;
    margin: 0;
    height: 100%;
}

footer {
    text-align: center;
    font-weight: 200; 
    font-style: italic;
    margin-top: auto;
}

section {
    max-width: 1200px;
    margin: 4rem auto;

    line-height: 1.75em;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    margin: 3rem 0 1rem 0;
    font-size: 36px;
    font-weight: 500;
    text-transform: lowercase;
    color: green;
}

/*Links*/

.link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0.5rem;
    color: white;
    fill:  white;
}

.link:hover {
    color: #D96FED;  
    fill: #D96FED;
}

.link svg {
    height: 30px;
}

/*Flexbox*/

.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-item {
    width: 30%;
}

.flex-item-game {
    width: 50%;
}

.page-content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
}

/*Header*/

.logo {
    max-height: 50px;
    max-width: auto;
    object-fit: contain;
}

.socials {
    text-align: right;
}

/*Main page*/

.hero-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-top: -450px;
    color: white;
}

.hero-image-container {
    background: url(img/another_witch_banner.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: bottom;
    background-size: 1920px;
    height: 60vh;
    max-height: 1080px;
    min-height: 200px;
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin: auto;
    width: 10vw;
    min-width: 200px;
}

/*Blog style layout*/

.blog-entry {   
    padding: 1rem;
    border-top: green solid 2px;
}

.blog-entry-content {
    padding-left: 1rem;
}

.blog-title {
    display: flex;
    justify-content: space-between;
}

.blog-title h2 {
    margin: 0 auto 0 0;
    display: inline;
}

.joke {
    display: inline;
    font-family: 'Bradley Hand', cursive;
    font-style: italic;
    
    /*Rainbow effect*/
    background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2b, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    background-clip: text;
    color: #0000;
}