
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.out {
    padding: 2rem 1rem;
}

.window {
    border: 5px solid blue;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    max-width: 1200px;
}

.windowtop {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: blue;
    padding: 8px;
    border-bottom: 5px solid blue;
    font-weight: bold;
}

.windowtop-left {
    display: flex;
    gap: .5rem;
}

.top-icon-image {
    display: inline;
    border: 2px solid white;
    border-radius: 5px;
    height: 20px;
}

.top-app-image {
    display: inline;
    height: 24px;
}

.push-right {
    margin-left: auto;
}

.topnav {
    background-color: lightpink;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: .5em 10px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: pink;
  color: white;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
  height: auto;
}

.banner-image {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin: 0;
    height: 100%;
    font-weight: 400;
}

footer {
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
    font-weight: 200; 
    font-style: italic;
    margin-top: auto;
    padding: 0 auto;
}

section {
    max-width: 1200px;
    margin: 2rem auto;
    line-height: 1.75em;
}

h1 {
    font-size: 60px;
    margin: 0;
}

/*Flexbox*/

.flex {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.flex-item {
    width: 30%;
}

.flex-item-game {
    width: 50%;
}

/*Header*/

.logo {
    max-height: 50px;
    max-width: auto;
    object-fit: contain;
}

.socials {
    text-align: right;
}

.link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0.5rem;
    color: white;
    fill:  white;
}

.link:hover {
    color: #D96FED;  
    fill: #141414;
}

.link svg {
    height: 30px;
}

.model-container model-viewer {
    margin: 0 auto;
}

.speech-bubble {
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    max-width: 200px;
}

/*Main page*/

.page-content {
    background-color: rgb(255, 216, 245);
    padding: 1rem 2rem;
}

.hero-text-container {    
    padding: 0 3rem;
    color: white;
}

.hero-text-container h2 {
    margin-top: 0;
}

.hero-image-container {
    display: flex;
    align-items: center;
    background: url(img/another_witch_banner.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 75% 50%;
    height: 30vh;
    max-height: 1080px;
    min-height: 200px;
}

@media (min-width: 1921px) {
    .hero-image-container {
        background-size: 2560px;
    }   
}

/*Desktop*/
@media (max-width: 1920px) {
    .hero-image-container {
        background-size: 1500px;
    }   
}

/*Mobile*/
@media (max-width: 1000px) {
    .hero-image-container {
        height: 20vh;
        background-size: 1000px;
    }

    .flex {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.mt {
    margin-top: 2rem;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin: auto;
    width: 10vw;
    min-width: 200px;
}

.circle {
    border-radius: 50%;
}

/*Sub page layout*/

.sub-page-content {
    background-color: rgb(255, 216, 245);
    padding: 1rem 2rem;
}

.blog-entry {   
    padding: 1rem;
    background-color: white;
}

.blog-entry-content {
    padding-left: 1rem;
}

.blog-title {
    display: flex;
    justify-content: space-between;
}

.blog-title h2 {
    margin: 0 auto 0 0;
    display: inline;
}

/* Gallery */

.gallery-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
}

.polaroid {
    background-color: white;
    padding: 1rem;
}

.polaroid-trim {
    max-width: 250px;
    max-height: 200px;
    overflow: hidden;
}

.polaroid-trim img {
    max-width: 250px;
    height: auto;
}

.polaroid p {
    text-align: center;
    font-size: large;
}

/* Experimental */

.joke {
    display: inline;
    font-family: 'Bradley Hand', cursive;
    font-style: italic;
    
    /*Rainbow effect*/
    background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2b, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    background-clip: text;
    color: #0000;
}